{% extends 'base.html.twig' %}

{% block body %}
<div class="container pt-5 w-25">

    <h3 class="text-light mt-4">Connexion</h3>
    
    <form action="{{ path('login') }}" method="post">

        {% if error %}
            <div class="p-2 border rounded bg-danger mb-2 text-light">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="form-group">
            <input type="text" name="_username" id="" placeholder="Votre adresse email" class="form-control mb-2">
            <input type="password" name="_password" id="" placeholder="Votre mot de passe" class="form-control mb-2">
            <button type="submit" class="btn btn-success">Connexion!</button>
        </div>
    </form>
</div>

{% endblock %}