{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

<div class="container-fluid bg-light p-2 d-flex align-items-center justify-content-center">

    <h5 class="mr-3 mb-0">Trier les résultats par :</h5>

    <form class="form-inline">
        {{form_start(form)}}

        <div class="form-group ml-2">
            {{ form_row(form.name) }}
        </div>
        <button type="submit" class="btn btn-warning btn-sm ml-2">Trier</button>

        {{form_end(form)}}
    </form>

</div>

<div class="container-fluid pt-5 px-3">

    <h2 class="text-light ml-4">Films populaires</h2>

    {% include "front/index.template.html.twig" %}

</div>
{% endblock %}