<div class="d-flex flex-wrap justify-content-center justify-content-md-around">

    {% for film in films_data %}

    <div class=" my-3 mx-3 p-0 text-center film-card">
        <a href=" {{ path('film_show', { slug : film.slug })}} ">
            <img src=" {{ film.image }} " alt="..." class="scale rounded-lg shadow-lg" style="width: 230px">
        </a>
        <h5 class="text-light"> {{ film.title }} </h5>
    </div>

    {% else %}
        <h3 class="text-light">Aucun Résultat</h3>
    {% endfor %}
    
</div>

{# display navigation #}
<div class="navigation mt-3">
    {{ knp_pagination_render(films_data) }}
</div>