{% extends 'base.html.twig' %}
{% block body %}

    <h2 class="text-center text-light mt-5">Liste des jobs</h2>
<div class="container bg-light mt-5 px-0 rounded">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Départements</th>
                <th class="text-right">Supprimer/Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <th>{{job.name}}</th>
                <td> {{job.departement.name}}</td>
                <td>
                    <a href="{{ path('admin_job_edit', { id : job.id }) }}" class="float-right">
                        Editer
                        <i class="fas fa-edit "></i>
                    </a>
                    <a href="{{ path('admin_job_delete', { id : job.id }) }}" class="float-right text-danger mr-2">
                        Supprimer
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}