{% extends 'base.html.twig' %}

{% block title %}Casting{% endblock %}
{% block nav %}
    {% include 'admin_home/admin_nav.html.twig' %}
{% endblock %}
{% block body %}

<div class="container mt-5 bg-light py-4">

<h2 class="mb-5">
    {% if edit_mode %}
                Modifier un casting
        {% else %}
                Ajouter un casting
        {% endif %}

</h2>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_rest(form) }}

    <button type="submit" class="btn btn-warning">
        {% if edit_mode %}
            Modifier
        {% else %}
            Ajouter
        {% endif %}
    </button>

    {{ form_end(form) }}

</div>
{% endblock %}
