{% extends 'base.html.twig' %}
{% block body %}

    <h2 class="text-center text-light mt-5">Liste des départements</h2>
<div class="container bg-light mt-5 px-0 rounded">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>job</th>
                <th class="text-right">Supprimer/Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for departement in departements %}
            <tr>
                <th>{{departement.name}}</th>
                <td> {% for job in departement.job %}
                        {{job.name}}
                    {% if not loop.last %}
                        /
                    {% endif %}
                {% endfor %}
                </td>
                <td>
                    <a href="{{ path('admin_departement_edit', { id : departement.id }) }}" class="float-right">
                        Editer
                        <i class="fas fa-edit "></i>
                    </a>
                    <a href="{{ path('admin_departement_delete', { id : departement.id }) }}" class="float-right text-danger mr-2">
                        Supprimer
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}